<p>country works!</p>
<div class="table">
	<table mat-table [dataSource]="countries$">
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>name</th>
			<td mat-cell *matCellDef="let country">{{ country.name.common }}</td>
		</ng-container>

		<ng-container matColumnDef="capital">
			<th mat-header-cell *matHeaderCellDef>capital</th>
			<td mat-cell *matCellDef="let country">{{ country.capital }}</td>
		</ng-container>

		<ng-container matColumnDef="region">
			<th mat-header-cell *matHeaderCellDef>region</th>
			<td mat-cell *matCellDef="let country">{{ country.region }}</td>
		</ng-container>

		<ng-container matColumnDef="subRegion">
			<th mat-header-cell *matHeaderCellDef>subRegion</th>
			<td mat-cell *matCellDef="let country">{{ country.subRegion }}</td>
		</ng-container>

		<ng-container matColumnDef="population">
			<th mat-header-cell *matHeaderCellDef>population</th>
			<td mat-cell *matCellDef="let country">{{ country.population }}</td>
		</ng-container>

		<ng-container matColumnDef=">">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let country">
				<button mat-button class="moreBtn" (click)="onButtonClick(country)">more and edit -></button>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
	</table>
</div>
